
.layout-wrapper {
  display: flex;
  flex-direction: column;
}

.layout-header {
  background-color: aqua;
  height: 70px;
}
.layout-content {
  background-color: coral;
  display: flex;
  min-height: calc(100vh - 100px);
}
